.btn_anmelden {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #F5F5F5;
    background-color: #009688;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

    position: absolute;
    top: 0;
    right: 0;
  }
  .btn_anmelden:hover {
    background-color: #03b3a1;
  }
  
  
  .btn_registrieren {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 170px;
    font-size: 16px;
    font-weight: bold;
    color: #F5F5F5;
    background-color: #009688;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

    position: absolute;
    top: 0;
    right: 0
  }
  .btn_registrieren:hover {
    background-color: #03b3a1;
  }


  .btn_shop {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 10px;
    font-size: 20px;
    font-weight: bold; 
    color: #F5F5F5;
    background-color: #FF5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  .btn_shop:hover {
    background-color: #f56d13;
  }

  body {
    background-image: url(img/dog.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 100%;
  }

  .box {
    display: block;
    width: 20%;
    height: 100%;
    background-color: #f5f5f544;
    border: 2px solid #F5F5F5;
    margin: 0 auto;
    float: left;
    margin-top: 100px;
  }
  
  .heading {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #009688;
  }

  .text {
    display: block;
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #F5F5F5;
  }